@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@section style{
    <style>
        img{
            width: 150px;
        }
        h1 {
            background-color: black;
            color:white;
        }
    </style>
}
@section images {
    <img src="~/images/capitanAmerica.png" />
}

<h1>Esto es la plantilla 2</h1>
<hr />

