@section style{
    <style>
        form {
            width: 50%;
            margin: auto;
            text-align: center
        }
    </style>
}
<h1>Crear Departamento</h1>

<form method="post">
    <label class="form-label">Id</label>
    <input type="text" name="iddepartamento" class="form-control" />
    <label class="form-label">Nombre</label>
    <input type="text" name="nombre" class="form-control" />
    <label class="form-label">Localidad</label>
    <input type="text" name="localidad" class="form-control" />
    <br />
    <button class="btn btn-info">Insertar</button>
</form>

<h2>Hola</h2>