@section style {
    <style>
        form {
            width: 50%;
            margin: auto;
        }
    </style>
}

@model Departamento

<form method="post">
    <label>Id</label>
    <input type="text" name="dept_no" value="@Model.IdDepartamento" class="form-control" disabled />
    <label>Nombre</label>
    <input type="text" name="nombre" value="@Model.Nombre" class="form-control" />
    <label>Localidad</label>
    <input type="text" name="localidad" value="@Model.Localidad" class="form-control" />
    <button class="btn btn-warning">Update</button>
</form>